.user-table-list-table-th.notice{
    gap: 200px;
}

/* 순번 */
.notice-list-table-reception-number{
    width: 30px;
}

/* 작성일 */
.notice-list-table-write-date{
    width: 350px;
}

/* 제목 */
.notice-list-table-title{
    width: 200px;
}

/* 조회수 */
.notice-list-table-viewcount{
    width: 42px;
}