.table-list-table-th.reservation{
    gap: 43px
}

.table-list-table-tr.reservation{
    gap: 43px
}

/* 예약번호 */
.reservation-list-table-list-number{
    width: 60px;
}

/* 업체이름 */
.reservation-list-table-list-number{
    width: 60px;
}

/* 차종 */
.reservation-list-table-list-number{
    width: 60px;
}

/* 예약기간 */
.reservation-list-table-list-number{
    width: 60px;
}

/* 예약자명 */
.reservation-list-table-list-number{
    width: 60px;
}

/* 아이디 */
.reservation-list-table-list-number{
    width: 60px;
}

/* 전화번호 */
.reservation-list-table-list-number{
    width: 60px;
}

/* 상태 */
.reservation-list-table-list-number{
    width: 60px;
}