#information-wrapper {
    display: flex;
    flex-direction: column;
}

.information-main {
    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 20px;
    width: 100%;
}

.my-info-title{
    font-size: 30px;
    font-weight: 600;
}

.information-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 10px;
}

.infomation-contents{
    display: flex;
    flex-direction: column;

    width: 430px;
    padding-top: 10px;
    gap: 10px;
}

.information-box{
    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 2px;
}

.information-title{
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 175%;

    color: rgba(0, 0, 0, 0.7);
}

.information-value{
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 6px;
    outline: none;
    padding: 8px 16px;
    width: 100%;

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;

    color:rgba(0, 0, 0, 0.7);
}

.infomation-modify-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 12px;
}

.information-modify-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    padding : 10px 20px;
    border-radius: 6px;

    background-color: rgba(0, 0, 0, 1);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;

    color: rgba(255, 255, 255, 1);
}

.information-modify-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.information-modify-button.delete{
    width: 100%;
}