.reservation-select-container{
    display: flex;
    justify-content: center;
}

/* 차량 선택 전체 */
.car-select-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 25px;
}

/* 검색, 필터 */
.option-container{
    display: flex;
    align-items: center;
    gap: 12px;
    padding-right: 40px;
    margin-left: auto;
}

.table-list-search-input-box{
    width: 350px;
}

.filter-button{
    box-sizing: border-box;
    display: flex;
    align-items: center;

    padding: 13px 24px;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;

    color: rgba(255, 255, 255, 1);
}

/* 차량 이름 */
.car-name-wrap{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.car-name{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 173%;
}

/* 차량 리스트 카드 */
.car-list-wrap {
    display: flex;
    flex-wrap: wrap; 
    justify-content:start;

    padding-left: 40px;
    gap: 20px;
}

.car-list-card{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    width: 575px;

    gap: 10px;    
    padding: 20px;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 6px;

    color: rgba(0,0,0,1);
}

.list-wrap {
    display: flex;
    flex-wrap: wrap;

    gap: 30px;
    max-width: 100%;
}

.car-image {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 8px;

    width: 260px;
    height: 200px;

    border-radius: 6px;
    padding: 13px 25px;    

    color: rgba(0,0,0,1);

    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover; 
}

.insurance-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 20px;
}

.insurance-price{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    box-sizing: border-box;
    padding: 13px;
    gap: 10px;
    width: 245px;

    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 6px;

    color: rgba(0,0,0,1);

    background-color: rgba(255,255,255,1);
}

.price-image{
    width: 15px;
    height: 15px;
    background-size: cover; 
    background-position: 55% 58%; 
}

.price-image.normal{
    background-image: url('../../../assets/image/normal.png');
}

.price-image.luxury{
    background-image: url('../../../assets/image/luxury.png');
}

.price-image.super{
    background-image: url('../../../assets/image/super.png');
}


.price-title{
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
}

.table-list-pagenation{
    justify-content: center;
}