.title-text{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 173%;
}

/* 차량 검색 전체 페이지 */
.car-select-wrap{
    padding: 25px;
}

/* 차량 검색바 */
.car-select-wrap{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    gap: 25px;
}

/* 검색, 필터 */
.option-container{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;

    gap: 15px;
}

.filter-button{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 24px;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;

    color: rgba(255, 255, 255, 1);
}

/* 차량 리스트 */
.car-list-wrap{
    display: flex;
    justify-content: center;

    gap: 20px;
}

/* 차량 리스트 카드 */
.car-card{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 8px 24px;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 6px;

    color: rgba(255, 255, 255, 1);
}

.list-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}