/* 체크 */
.company-list-table-check {
    width: 30px;
}

/* 순번 */
.company-list-table-list-number {
    width: 50px;
}

/* 고유번호 */
.company-list-table-comapny-code {
    width: 60px;
}

/* 업체명 */
.company-list-table-company-name {
    width: 300px;
}

/* 주소 */
.company-list-table-company-address {
    width: 250px;
}

/* 담당자 */
.company-list-table-company-owner{
    width: 60px;
}

/* 연락처 */
.company-list-table-company-telnumber {
    width: 150px;
}

/* 등록일 */
.company-list-table-company-date {
    width: 45px;
}