#authentication-wrapper {
    display: flex;
}

.authentication-full {
    display: flex;
    flex-direction: column;
}

.authentication-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(64, 64, 64, 1);

}

.authentication-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.authentication-input-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 300px;
}

.authentication-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    

}

.other-authentication-button-container {
    display: flex;
    justify-content: space-around;
    gap: 14px;
    font-size: small;
}

.moving-find-id-password {
    display: flex;
    flex-direction: row;
}

.authentication-sns-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.kakao-button {
    background-image: url('../../../assets/image/kakao-button.png');
}

.naver-button {
    background-image: url('../../../assets/image/naver-button.png');
}


