#admin-detail-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.admin-detail-main-box{
    display: flex;
    flex-direction: column;
    
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 8px;
}

.admin-datail-contents{
    display: flex;
    flex-direction: column;
}

.admin-contents-wrap{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(238, 238, 238, 1);

    margin-bottom: 1px;
}

.admin-contents-wrap.date{
    border-bottom: none;
}

.admin-title-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 18px 40px;
    background-color: rgba(138, 146, 166, 0.1);
}

.admin-content-wrap{
    width: 100%;
    padding: 18px 25px;
}

.admin-button-box{
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 24px;
}

.primary-button.list{
    width: 150px;
}

.error-button.delete{
    width: 150px;
}