.table-list-table-th.user{
    gap: 95px;
}

.table-list-table-tr.user{
    gap: 95px;
}

/* 순번 */
.user-list-table-list-number {
    width: 50px;
}

/* 아이디 */
.user-list-table-id {
    width: 200px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 닉네임 */
.user-list-table-nickname {
    width: 150px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 이메일 */
.user-list-table-email {
    width: 200px;

    flex-grow: 1;
    flex-shrink: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 가입 날짜 */
.user-list-table-join-date{
    width: 200px;
}