#admin-wrapper {
    display: grid;
    grid-template: 
        "sidenav main" minmax(900px, auto)
        / 340px minmax(1182px, 1fr);
}

.admin-main {
    grid-area: main;
    
    min-width: 1182px;
    padding: 24px;
}

.admin-side-navigation-container {
    grid-area: sidenav;

    display: flex;
    flex-direction: column;
    
    border-right: 1px solid rgba(233, 236, 239, 1);
}

.admin-side-navigation-item {
    border-radius: 6px;
    padding: 10px 10px 10px 40px;

    display: flex;
    align-items: center;
    gap: 16px;

    color: rgba(0, 0, 0, 0.7);

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.admin-side-navigation-item:hover {
    cursor: pointer;
    opacity: 0.85;
}

.admin-side-navigation-item.active {
    background-color: rgba(138, 146, 166, 1);
    color: rgba(255, 255, 255, 1);
}

.admin-side-navigation-icon {
    width: 24px;
    height: 24px;
    background-size: 100% 100%;
}

.admin-side-navigation-sub-item {
    display: flex;
    flex-direction: column;

    color: rgba(0, 0, 0, 0.6);
    border-radius: 6px;

    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.admin-side-navigation-sub-item:hover{
    cursor: pointer;
    opacity: 0.85;
}

.admin-side-navigation-sub-item.active {
    background-color: rgba(138, 146, 166, 0.4);
    color: rgba(255, 255, 255, 1);
}

.admin-side-navigation-sub-item-title {
    padding: 10px;
}

.admin-side-navigation-icon.person {
    background-image: url('../../assets/image/person.png');
}
    
.active > .admin-side-navigation-icon.person {
        background-image: url('../../assets/image/person.png');
}

.admin-side-navigation-icon.office {
    background-image: url('../../assets/image/office.png');
}
    
.active > .admin-side-navigation-icon.office {
        background-image: url('../../assets/image/office.png');
}
    
.admin-side-navigation-icon.check {
    background-image: url('../../assets/image/check.png');
}
    
.active > .admin-side-navigation-icon.check {
    background-image: url('../../assets/image/check.png');
}
    
.admin-side-navigation-icon.board {
    background-image: url('../../assets/image/board.png');
}
    
.active > .admin-side-navigation-icon.board {
    background-image: url('../../assets/image/board.png');
}