#authentication-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.authentication-sign-up {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 30px;
    margin: auto;
}

.authentication-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(64, 64, 64, 1);
}

.authentication-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    width: 100%;
}

.authentication-input-container {
    display: flex;
    flex-direction: column;
    gap: 14px;

    width: 100%;
}

.authentication-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.other-authentication-button-container {
    display: flex;
    justify-content: space-around;
    gap: 14px;
    font-size: small;
}

.moving-find-id-password {
    display: flex;
    flex-direction: row;
}

.authentication-sns-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.kakao-button {
    background-image: url('../../../assets/image/kakao-button.png');
}

.naver-button {
    background-image: url('../../../assets/image/naver-button.png');
}


