#authentication-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.authentication-sign-up {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 30px;
    margin: auto;
}

.authentication-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(64, 64, 64, 1);
}

.authentication-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    width: 100%;
}

.authentication-input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 100%;
}

.authentication-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.other-authentication-button-container {
    display: flex;
    justify-content: space-around;

    gap: 14px;
    font-size: small;
}

.moving-find-id-password {
    display: flex;
    flex-direction: row;
}

.label{
    gap:10px;
}

