#information-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.information-main {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
}

.information-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    border-radius: auto;
    width: 100%;
}

.information-container {
    display: flex;
    flex-direction: column;
    gap: 14px;

    width: 100%;
}

.information-button {
    display: flex;
    justify-content: flex-end;
    gap: 14px;
}


.find-button {
    box-sizing: border-box;
    width: 110px;
    padding: 8px 0px;
    border-radius: 6px;

    background-color: rgba(58, 87, 232, 0.2);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;

    color: rgba(45, 66, 178, 1);

    text-align: center;
}