#main-page-wrapper{
    display: flex;
    flex-direction: column;
}

.main-container-box{
    display: flex;
    flex-direction: column;
}

.top-image {
    height: 500px; 
    background-size: cover; 
    background-position: 55% 58%; 
}
.top-image.jeju {
    background-image: url('../../assets/jejuImage/jejuSea.jpg');
}

.container-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-box{
    display: flex;
    justify-content: space-between;

    gap: 20px;
    padding: 14px;

    background-color: rgba(238, 238, 238, 1);
    border-radius: 8px;

    position: relative;
    top: -40px;
}
.search-select-box{
    display: flex;
    gap: 14px;
}
.search-select-item{
    padding: 14px;
    width: 300px;

    background-color: rgba(255, 255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 255);
    border-radius: 8px;
}
.search-button{
    padding: 14px;
    width: 100px;

    background-color: rgba(255, 255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 255);
    border-radius: 8px; 
}

.popular-car-box{
    display: flex;

    gap: 24px;
    padding: 14px;

    background-color: rgba(238, 238, 238, 1);
    border: 1px solid rgba(255, 255, 255, 255);
    border-radius: 8px;
}
.popular-car-card{
    gap: 24px;
    padding: 14px;

    background-color: rgba(255, 255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 255);
    border-radius: 8px; 
}