
#main-page-wrapper{
    display: flex;
    flex-direction: column;
}

.main-container-box{
    display: flex;
    flex-direction: column;
}

.top-image {
    height: 500px; 
    background-size: cover; 
    background-position: 50% 40%; 
}

.top-image.jeju {
    background-image: url('../../assets/jejuImage/car.jpg');
}

.container-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-top: -40px;
    gap: 24px;
}

.search-box{
    display: flex;
    width: 1000px;    
    gap: 20px;
    padding: 14px;
    
    justify-content: space-between;

    background-color: rgba(238, 238, 238, 1);
    border-radius: 8px;
}
.search-select-box{
    display: flex;
    flex: 1;
    gap: 14px;
}
.search-select-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    flex: 1;    

    background-color: rgba(255, 255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 255);
    border-radius: 8px;
}
.car-search-button{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 14px;
    width: 100px;

    background-color: rgba(255, 255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 255);
    border-radius: 8px; 
}

.car-search-button:hover{
    cursor: pointer;
    opacity: 0.85;
}

.popular-car-box{
    display: flex;
    width: 1000px;
    height: 250px;
    gap: 20px;
    padding: 14px;

    background-color: rgba(238, 238, 238, 1);
    border-radius: 8px;

}
.popular-car-card{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    gap: 24px;
    padding: 14px;
    
    background-color: rgba(255, 255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 255);
    border-radius: 8px; 
}





/* 위치 선택 css */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup-content ul {
    list-style-type: none;
    padding: 0;
}

.popup-content li {
    padding: 10px 0;
    cursor: pointer;
}

.popup-content li:hover {
    background: #f0f0f0;
}

.popup-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup-content button:hover {
    background: #0056b3;
}

