#main-page-wrapper{
    display: flex;
    flex-direction: column;
}

.main-container-box{
    display: flex;
    flex-direction: column;
}

.top-image {
    height: 500px; 
    background-size: cover; 
    background-position: 50% 40%; 
}

.top-image.jeju {
    background-image: url('../../assets/jejuImage/car.jpg');
}

.container-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-top: -40px;
    gap: 24px;
}

.search-box{
    display: flex;
    width: 1000px;    
    gap: 20px;
    padding: 14px;
    
    justify-content: space-between;

    background-color: rgba(238, 238, 238, 1);
    border-radius: 8px;
}
.search-select-box{
    display: flex;
    flex: 1;
    gap: 14px;
}
.search-select-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    gap: 5px; 

    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 8px;
}

.search-select-item.location{
    width: 550px;
}

.search-select-item.location:hover{
    cursor: pointer;
    opacity: 0.9;
}

.search-select-item.date{
    width: 100%;
    
    font-size: 16px;
    font-weight: 600;
}

.search-select-item.date:hover{
    cursor: pointer;
    opacity: 0.9;
}

.location-image{
    width: 25px;
    height: 25px; 
    background-size: cover;
    background-image: url('../../assets/image/location.png');
}

.date-image{
    width: 25px;
    height: 25px; 
    background-size: cover;
    background-image: url('../../assets/image/calender.png');
}

.location-title{
    font-size: 16px;
    font-weight: 600;
}

.search-date-wrap{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.search-date-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.car-search-button{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 14px;
    width: 100px;
    
    font-size: 16px;
    font-weight: 600;

    background-color: rgba(255, 255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 255);
    border-radius: 8px; 
}

.car-search-button:hover{
    cursor: pointer;
    opacity: 0.9;
}

/* 인기차량 CSS */
.popular-car-list-box{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1190px;
    height: 250px;
    gap: 20px;
    padding: 25px 20px;

    background-color: rgba(238, 238, 238, 1);
    border-radius: 8px;

}
.popular-car-list-wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    gap: 10px;
    padding: 15px;
    
    background-color: rgba(255, 255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 255);
    border-radius: 8px; 
}

.popular-car-image{
    display: flex;
    align-items: center;
    justify-content: center;

    /* margin-left: 32px; */
    margin-top: -10px;

    /* width: 200px; */
    height: 150px;

    box-sizing: border-box;
    overflow: hidden;
    border-radius: 6px;
    padding: 10px 25px;    

    color: rgba(0,0,0,1);

    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover; 
}

.popular-car-info-list{
    display: flex;
    flex-direction: column;
    
    gap: 5px;
    font-size: 13px;
}

.popular-car-info-contents-carname{
    display: flex;
    gap: 10px;
    
    border-radius: 6px;
    padding: 5px 10px;
    box-sizing: border-box;
    background-size: cover; 
    background-color: rgba(238, 238, 238, 1)
}

.popular-car-info-container{
    margin-top: 2px;
    margin-left: 10px;
}

.popular-car-info-contents{
    display: flex;
    gap: 10px;
}

.popular-car-title{
    width: 80px;
}