#qna-write-wrapper {
    display: flex;
    flex-direction: column;

    gap: 24px;
    padding: 24px;  
}

.qna-wrap{
    display: flex;
    flex-direction: column;
    gap: 12px;

    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 6px;
    padding: 20px;

    background-color: rgba(255, 255, 255, 1);
}

.qna-write-top {
    display: flex;
    align-items: center;
    gap: 12px;
}

.qna-write-title-box {
    display: flex;
    align-items: center;
    flex-grow: 1;

    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 6px;
    padding: 16px;

    background-color: rgba(255, 255, 255, 1);
}

.qna-category-box{
    display: flex;
    align-items: center;
    gap: 12px;
}
.public-state-toggle {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 5px;
}

.qna-category-select {
    width: 150px;
    height: 45px;
    border-radius: 4px;
    border: 2px solid rgb(212, 194, 194);

    padding-left: 7px;
    font-size: 18px;
}
.public-state-toggle {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 5px; /* 체크박스와 텍스트 사이의 간격을 조절합니다. */
}

.qna-category-select .select {
    width: inherit;
    height: inherit;
    background: transparent;
    border: 0 none;
    outline: 0 none;
    padding: 0 5px;
    position: relative;
    z-index: 3; 
}

.qna-category-select .select option {
    background: lightcoral;
    color: #fff;
    padding: 3px 0;
    font-size: 16px;
}

.qna-category-select .icoArrow {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 35px;
    height: inherit;
    border-left: 2px solid lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qna-category-select .icoArrow img {
    width: 50%;
    transition: .3s; 
}

.qna-category-select .select:focus+.icoArrow img {
    transform: rotate(180deg);
}

.qna-write-title-input {
    display: flex;
    width: 100%;

    border: none;
    outline: none;
    background: none;
    padding: 0px 10px;

    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 75%;

    color: rgba(64, 64, 64, 1);
}

.qna-write-contents-box {
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 6px;
    padding: 12px 16px;

    min-height: 248px;

    background-color: rgba(255, 255, 255, 1);
}

.qna-write-contents-textarea {
    border: none;
    outline: none;
    background: none;
    resize: none;

    width: 100%;

    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;

    color: rgba(64, 64, 64, 1);
}
