.table-list-table.reservation{
    width: 1350px;
}

.table-list-table-th.reservation{
    gap: 63px
}

.table-list-table-tr.reservation{
    gap: 60px
}

/* 예약번호 */
.reservation-list-table-list-number{
    width: 60px;
}

/* 업체이름 */
.reservation-list-table-reservation-name{
    width: 100px;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 차종 */
.reservation-list-table-reservation-car{
    width: 100px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 예약시작, 예약 끝 */
.reservation-list-table-reservation-date{
    width: 100px;
}

/* 예약자 닉네임 */
.reservation-list-table-reservation-user{
    width: 60px;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 아이디 */
.reservation-list-table-reservation-user-id{
    width: 60px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 상태 */
.reservation-list-table-reservation-state{
    width: 100px;
}

.table-list-search-box.reservation{
    margin-right: -52px;
}