#wrapper {
    display: grid;
    grid-template-columns: 280px minmax(1182px, 1fr);
    grid-template-rows: 85px minmax(1000px, auto) 320px;
    grid-template-areas:
        "logo topbar"
        "main main"
        "footer footer";
}

/* 상단바 CSS */
.logo-container {
    grid-area: logo;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid rgba(233, 236, 239, 1);
    border-right: 1px solid rgba(233, 236, 239, 1);

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 173%;

    color: rgba(64, 64, 64, 1);
}

.logo-container:hover{
    cursor: pointer;
    opacity: 0.85;
}

.logo-image{
    height: 70px;
    width: 220px; 
    background-size: cover; 
    background-position: 50% 40%; 
}

.logo-image.logo{
    background-image: url('../../assets/image/logo-car.png');
}

.top-bar-container {
    grid-area: topbar;

    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(233, 236, 239, 1);
}

.top-bar-button {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.top-button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 12px;

    font-size: 20px;
    font-style: normal;
    font-weight: 550;
    line-height: 173%;

    color: rgba(64, 64, 64, 1);
}

.sign-in-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar-role{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 12px;

    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    line-height: 173%;

    color: rgba(64, 64, 64, 1);
}

.user-mypage-button{
    height: 37px;
    width: 37px;
    background-position: 55% 58%;
}

.user-mypage-button.person{
    background-image: url('../../assets/image/login-icon.png');
}

.user-button:hover{
    cursor: pointer;
    opacity: 0.85;
}

.logout-button{
    background-color: rgba(238, 238, 238, 1);
    border-radius: 8px;
    padding: 5px 15px 5px;
}

.logout-button:hover{
    cursor: pointer;
    opacity: 0.85;
}

.top-button:hover {
    cursor: pointer;
    opacity: 0.85;
}

.main-container {
    grid-area: main;
    min-width: 1182px;
}

/* 하단바 CSS */
.bottom-container{
    grid-area: footer;

    background-color: rgba(233, 236, 239, 1);

    padding: 40px 200px;
    color: rgba(64, 64, 64, 1);
}

.bottom-content{
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.bottom-image-content{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 230px;
    height: 80px;

    background-image: url('../../assets/image/logo-car.png');
    background-size: contain;
}

.bottom-contents-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-info-contents{
    display: flex;
    flex-direction: column;

    gap: 25px;
}

.bttom-link-contents {
    display: flex;
    gap: 25px;
}

.bttom-links-page:hover {
    cursor: pointer;
    opacity: 0.85;
}

.bottom-company-info{
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.bottom-media-info{
    display: flex;

    gap: 80px;
}

.bottom-media-contents{
    display: flex;
    flex-direction: column;

    gap: 10px;
    margin-top: -32px;
}

.bottom-media-titles{
    display: flex;
    flex-direction: column;

    gap: 5px;
}

.media-title{
    font-size: 20px;
    font-weight: 600;
}

.media-content{
    display: flex;
    flex-direction: column;

    gap: 8px;
}

.bottom-account-contents{
    display: flex;
    flex-direction: column;

    gap: 10px;
}