#wrapper {
    display: grid;
    grid-template-columns: 340px minmax(1182px, 1fr);
    grid-template-rows: 85px minmax(944px, auto) 300px;
    grid-template-areas:
        "logo topbar"
        "main main"
        "footer footer";
}

.logo-container {
    grid-area: logo;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid rgba(233, 236, 239, 1);
    border-right: 1px solid rgba(233, 236, 239, 1);

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 173%;

    color: rgba(64, 64, 64, 1);
}

.logo-container:hover{
    cursor: pointer;
    opacity: 0.85;
}

.top-bar-container {
    grid-area: topbar;

    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(233, 236, 239, 1);
}

.top-bar-button {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.top-button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 12px;

    font-size: 20px;
    font-style: normal;
    font-weight: 550;
    line-height: 173%;

    color: rgba(64, 64, 64, 1);
}

.sign-in-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-bar-role{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 12px;

    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    line-height: 173%;

    color: rgba(64, 64, 64, 1);
}

.user-mypage-button{
    height: 37px;
    width: 37px;
    background-position: 55% 58%;
}
.user-mypage-button.person{
    background-image: url('../../assets/image/login-icon.png');
}
.user-button:hover{
    cursor: pointer;
    opacity: 0.85;
}

.logout-button{
    background-color: rgba(238, 238, 238, 1);
    border-radius: 8px;
    padding: 5px 15px 5px;
}

.logout-button:hover{
    cursor: pointer;
    opacity: 0.85;
}

.top-button:hover {
    cursor: pointer;
    opacity: 0.85;
}

.main-container {
    grid-area: main;
    min-width: 1182px;
}

.bottom-container{
    grid-area: footer;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(233, 236, 239, 1);

    font-size: 15px;
    font-style: normal;

    color: rgba(64, 64, 64, 1);
}