#wrapper {
    display: grid;
    grid-template: 
        "logo topbar" minmax(77px, auto)
        / 257px minmax(1182px, 1fr);
}

.logo-container {
    grid-area: logo;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid rgba(233, 236, 239, 1);
    border-right: 1px solid rgba(233, 236, 239, 1);

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 173%;

    color: rgba(64, 64, 64, 1);
}

.top-bar-container {
    grid-area: topbar;

    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(233, 236, 239, 1);
}

.top-bar-button {
    display: flex;
    align-items: center;
    padding: 0 24px;
}

.board-button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 24px;

    font-size: 24px;
    font-style: normal;
    font-weight: 550;
    line-height: 173%;

    color: rgba(64, 64, 64, 1);
}

.board-button:hover {
    cursor: pointer;
    opacity: 0.85;
}
