.qna-board-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 40px;

    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.user-table-list-table-th.qna{
    gap: 65px;
}

.qna-board-image{
    width: 75px;
    height: 70px;
    background-size: 100% 100%;

}

.qna-board-image.help{
    background-image: url('../../../../assets/image/help.png');
}

/* 순번 */
.qna-list-table-reception-number {
    width: 30px;
}

/* 작성일 */
.qna-list-table-write-date {
    width: 54px;
}

/* 제목 */
.qna-list-table-title {
    width: 345px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 작성자 */
.qna-list-table-writer-id {
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 유형 */
.qna-list-table-category {
    width: 45px;
}

/* 노출 여부 */
.qna-list-table-exposure {
    width: 80px;
}

/* 상태 */
.qna-list-table-status {
    width: 80px;
}

/* 조회수 */
.qna-list-table-viewcount {
    width: 42px;
}