.my-reservation-list-wrap{
    display: flex;
    align-items: center;

    gap: 20px;
    width: 100%;
}

.reservation-up-title{
    width: 70px;
    font-size: 16px;
    font-weight: 600;
}

.reservation-content{
    font-size: 16px;
}

.my-reservation-car-image.detail{
    width: 300px;
    height: 220px;
}

.my-reservation-detail-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 20px;
}

.my-reservation-detail-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reservation-car-container.detail{
    font-size: 16px;
}

.reservation-side-title{
    width: 110px;
    font-weight: 600;
}

.my-reservation-button{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 10px;
}