#user-wrapper {
    display: grid;
    grid-template: 
        "sidenav main" minmax(944px, auto)
        / 257px minmax(1182px, 1fr);
}

#user-main {
    grid-area: main;
}

.user-side-navigation-container {
    grid-area: sidenav;
    padding: 250px 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    
    border-right: none;  
}

.user-side-navigation-item {
    border-radius: 6px;
    padding: 8px 24px;

    display: flex;
    align-items: center;
    gap: 16px;

    color: rgba(138, 146, 166, 1);

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
}

.user-side-navigation-item:hover {
    cursor: pointer;
    opacity: 0.85;
}

.user-side-navigation-item.active {
    background-color: rgba(138, 146, 166, 1);
    color: rgba(255, 255, 255, 1);

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
}

.user-side-navigation-icon {
    width: 24px;
    height: 24px;
    background-size: 100% 100%;
}

.user-side-navigation-icon.person {
    background-image: url('../../assets/image/person.png');
}
    
.active > .user-side-navigation-icon.person {
        background-image: url('../../assets/image/person.png');
}

.user-side-navigation-icon.car {
    background-image: url('../../assets/image/car.png');
}
    
.active > .user-side-navigation-icon.car {
        background-image: url('../../assets/image/car.png');
}
    
.user-side-navigation-icon.check {
    background-image: url('../../assets/image/check.png');
}
    
.active > .user-side-navigation-icon.check {
    background-image: url('../../assets/image/check.png');
}
    
.user-side-navigation-icon.board {
    background-image: url('../../assets/image/board.png');
}
    
.active > .user-side-navigation-icon.board {
    background-image: url('../../assets/image/board.png');
}