.authentication-sign-up{
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.return-id{
    display: flex;
    justify-content: center;
}

.moving-find-id-password{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 15px;
    gap: 5px;
}